* {
    box-sizing: border-box;
    text-align: center;
  }

body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
    line-height: 100%;
    color: #333;
    background-color: lightgray;
  }
  
  /* header & nav style */

  header {
    background: #ffffff;
    margin-bottom: 20px;
    color: #333;
    height: 80px;
  }

 h1 {
    float: left;
    padding: 20px;
    margin-bottom: 20px;
    position: relative;
    height: 80px;
    background: #30948D;
    text-align: left;
    border: #efeee7 1px;
    width: 33.3%;
    margin-left: 30px;
    left: 100px;
    clear: both;
    font-size: 33px;
    color: #efeee7;
  }

  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
  }

  li {
    float: right;
  }

  li a {
    color: darkgray;
    text-align: center;
    padding: 16px;
    text-decoration: none;
  }

  /* body style */

.container {
    width: 70%;
    margin: 0 auto;
    border: #333 5px;
    background: #efeee7;
  }

  h2 {
    color: #30948D;
    font-size: 25px;
    margin: 25px;
    border-bottom: darkgray 2px;
    padding-bottom: 15px;
    padding-top: 15px;
    text-align: left;
  }

p {
    text-align: center;
    color: #efeee7;
  }

  /* about page */
img {
    width: 150px;
    height: 150px;
    margin-right: 20px;
    float: left;
  }
.bio {
    padding: 20px; 
    float: left;
    font-size: 20px;
    color: #000000;
    text-align: left;
    border: #fff;
}

 /*sticky footer*/
  footer {
    clear: both;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    padding: 20px;
    background-color: darkgray;
    padding: 5px;
    border: #30948D 5px;
    height: 75px;
  }
  